<section class="profilesection">
  <div class="profile-topbox1"> 

    <div class="profilename">
          <% if @user.username.present? %>
            <h1>Gallery: @<%= @user.username %></h1>
          <% end %>
    </div>

  </div>

<% if @posts.any? %>

<ul>
	<%= render @posts %>
</ul>

<% end %>


</section>


