<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    	Hey <%= @user.username %>,</br></br>
    	Thanks for registering with Capsulely.  We are reviewing your application and will let you know of next steps.</br>
    	Thanks,</br>
    	Capsulely Team
    </p>
  </body>
</html>