<div class="homesection">
	<div class="aboutimage">



		<div class="aboutinformation">

			<h1>ZOE</h1>


			<p>Zoe is your art dealer.  Zoe is the first exhibition focused online gallery.  Zoe partners with talented artists to showcase their exhibitions and original artwork.  Our goal is to provide an easy to use website and excellent customer service for our customers.</p>


		</div>

	</div>




</div>