<div class="homesection">
	<div class="aboutimage">



		<div class="aboutinformation">

			<h1>MAX</h1>


			<p>Max keeps his ear to the streets and discover cool gear from streetwear brands and independant designers.  Max has partnered with some of the coolest designers and brands.  Join Max's squad to get exclusive access to limited releases and discounts.  Our goal is to provide an easy to use website and excellent customer service for our customers.</p>


		</div>

	</div>




</div>