<div class="registersection">
	<%= image_tag 'capsulely-brand-account.png', :class => "registerimage" %>

	<div class="registerheader">
		Partner with us.  We can help you increase your customer base and expand to new markets.
	</div>

	<%= link_to new_brand_path do %>
		<div class="registerbutton">Register Your Brand</div>
	<% end %>

	<ul class="registerpoints">
		<li><span class="headerpoint">Increase sales.</span></br>
			We handle marketing so you can focus on building a brand. 
		</li>
		<li><span class="headerpoint">Simple posting.</span></br>
			Just text or email us product info and we handle the rest. 
		</li>
		<li><span class="headerpoint">Easy process.</span></br>
			We handle customers and issues; you just handle shipments.
		</li>
		<li><span class="headerpoint">Join other great brands.</span></br>
			Your brand will be included in a diverse selection of brands.
		</li>
		<li><span class="headerpoint">Only a 25% commission.</span></br>
			Get more with us than selling wholesale.
		</li>		
		<li><span class="headerpoint">No upfront fees.</span></br>
			Never pay a monthly or upfront fee. Only pay for completed sales.
		</li>				
	</ul>

	<%= link_to new_brand_path do %>
		<div class="registerbutton">Join Today</div>
	<% end %>


</div>