// Place all the styles related to the Exhibitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exhibitionlist {float: left; margin: 25px 0;}
.exhibitioncontent {position: absolute; font-family: "proxima-nova", sans-serif; width: 100%; padding: 25px 0; background: rgba(0,0,0,.5); text-align: center; z-index: 5; font-weight: 700;}
.postsection .exhibitioncontent h1 {color: #fff; color: 24px; text-transform: none;}
.postsection .exhibitioncontent p {color: #fff; color: 18px;}
.exhibitioncontent h1 {color: #fff; color: 24px; text-transform: none;}
.exhibitioncontent p {color: #fff; color: 18px;}
.exhibitionimage {position: relative; width: 100%; height: auto; margin: 0; padding: 0;}

.allposts {float: left; font-family: "proxima-nova", sans-serif; margin: 50px 35%; padding: 15px 10px; background: rgba(255,0,156 ,1); color: #fff; width: 30%; font-size: 24px; text-align: center; font-weight: 700;}
.allposts:hover {color: #000; text-decoration: none;}